<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{  asset('bundles/acmemain/css/main.css')  }}">
            {% block stylesheets2 %}
{#                For add extra css files#}
            {% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="sidebar" class="logo">
            {% block sidebar %}
                {% image 'dwb_logo.jpg' %}
                <img src="{{  asset('bundles/acmemain/images/default/dwb_logo.jpg')  }}" alt="DWB" />
                {% endimage %}
                </br>
                <h7>Your final wishes – safe and secure for those you leave behind…</h7>
                <h7><hr></h7>
                {% endblock %}
        </div>

        <div id="content">
        {% block javascripts %}{% endblock %}

    {% block body %}{% endblock %}
</div>
</body>
</html>
