{% extends '::base.html.twig' %}


{% block stylesheets2 %}
    <link rel="stylesheet" href="{{  asset('bundles/acmemain/css/default.css')  }}">
    <link rel="stylesheet" href="{{  asset('bundles/acmemain/css/icon.css')  }}">
{% endblock %}

{% block body -%}
    <div class="content">
        <div class="text">
            <p>
                <b>Introduction</b>
                
            </p>
            <p>
                How many of us think about the music we’d like played at our own funeral, how we 

                might like to arrive, who we might like to invite? Do you ever consider if you’d like a 

                sombre, thoughtful ceremony, or a full-on party? Would you like to go in an eco-friendly 

                cardboard coffin, or the best casket money can buy. Do your loved ones know if you’d 

                prefer to be buried or cremated and, following which, your preferred final resting place? 

                Given the choice would you ask those attending to dress in the traditional way…or 

                would you prefer to tell them please ‘don’t wear black’?

                <br><br>

                Have you shared these final wishes with anyone? What if you change your mind years 

                down the road?

                <br><br>

                <b> DWB serves as a safe and secure depositary for your preferences for the period

                    immediately after your death, such as your funeral arrangements and final 

                    wishes.</b>

                <br><br>

                What about those vital pieces of information you would have liked to have shared with 

                your loved ones?.. People you’d like to be informed of your passing, where the insurance 

                documents are kept, what banking, investments or pension policies you might hold, 

                certain contacts for personal, household and business needs and non-legal wishes etc...

                <br><br>

                <b>
                    DWB has sections dedicated to storing such information – often with reference

                    numbers and contacts – simplifying what is often a very difficult task when you 

                    are not there to provide the guidance.
                </b>

                <br><br>

                The wishes and information maintained in DWB is for information purposes only and is 

                not legally binding in the way a professionally drafted Will would be. However, it might 

                be the difference between getting the sending-off you’d like to one decided upon by 

                others…or your loved ones struggling to identify an old pension, insurance plan, 

                treasured item or the location of important documents.

                <b>
                    So, how does it work?
                </b>

                <br><br>

                DWB works in a very simple way…

                <br><br>

                You simply register on the website and enter the relevant personal information in the 

                secure area, answering the questions as prompted. You can re-visit the registration as 

                many times as necessary to complete the data gathering; or as your preferences change 

                over time.  Access to your information is password protected of course.

                <br><br>
                We will never ask you to store PIN numbers, passwords or other highly sensitive or 

                secretive information within DWB. Your information will be stored securely and in 

                isolation would be mostly meaningless to anyone but the intended recipient in any 

                event.

                <br><br>

                At the end of the registration process, you will be asked to enter the details of your 

                family solicitor (if you do not have one, we can make a referral based on your location). 

                The solicitor will be automatically contacted and advised that you are a DWB client and 

                will be given the name of your trusted contact or executor (called nominees) and the 

                first half of a unique access Key Code (different to your own password used for 

                amending your records). At the same time, your nominee(s) will be advised of the 

                contact details of the solicitor and that a DWB registration has been made. The nominee 

                will also be given the second half of the unique Key Code and instructions of what they 

                would be required to do on the occasion of your passing.

                <br><br>

                When the sad, but inevitable comes, your loved one or executor will simply need to

                provide the family solicitor with a copy of the death certificate, their own personal 

                identification and the second half of the Key Code. The solicitor will complete the key 

                Code with the first half they have retained on file, giving you access to the DWB file on 

                our website and your loved one’s final wishes.
            </p>
        </div>
    </div>
{% endblock %}
